<aside id="drawer" class="hidden w-nxs lg:w-drawer sm:block">
  <div
    class="fixed left-0 h-screen overflow-y-scroll w-nxs lg:w-drawer pb-60 px-3 @container/drawer"
  >
    <ul
      class="flex flex-col gap-3 @nxs/drawer:border-b @nxs/drawer:border-b-qt-gray-4 pb-3"
    >
      <li *ngFor="let element of navigationElements">
        <app-button
          [routerLink]="element.link"
          [type]="'drawer'"
          [additionalButtonClasses]="'hover:bg-qt-gray'"
          [svg]="element.svg"
          [alt]="element.title"
          [additionalImgClasses]="'w-[26px]'"
          [text]="element.title"
          [additionalTextClasses]="'text-white'"
        ></app-button>
      </li>
    </ul>

    <app-small-login-cta
      [classes]="
        'hidden @nxs/drawer:flex flex-col gap-3 px-drawer-x @nxs/drawer:border-b @nxs/drawer:border-b-qt-gray-4 py-4'
      "
    ></app-small-login-cta>

    <ul
      class="hidden @nxs/drawer:flex @nxs/drawer:flex-col @nxs/drawer:gap-2 @nxs/drawer:border-b @nxs/drawer:border-b-qt-gray-4 py-3"
    >
      <li>
        <span
          class="mb-1 text-sm font-medium uppercase px-drawer-x pt-drawer-y text-qt-gray-3"
        >
          Subscribed
        </span>
      </li>
      <li *ngFor="let element of subscribedChannels">
        <app-button
          [routerLink]="element.link"
          [type]="'drawer'"
          [additionalButtonClasses]="'hover:bg-qt-gray'"
          [img]="element.img"
          [alt]="element.title"
          [additionalImgClasses]="'w-[26px] rounded-full'"
          [text]="element.title"
          [additionalTextClasses]="'text-white'"
        ></app-button>
      </li>
    </ul>

    <app-button
      [routerLink]=""
      [type]="'drawer'"
      [additionalButtonClasses]="'@nxs/drawer:mt-[14px] hover:bg-qt-gray'"
      [svg]="'log-out.svg'"
      [alt]="'Log out'"
      [additionalImgClasses]="'w-[26px]'"
      [text]="'Log out'"
      [additionalTextClasses]="'text-white'"
    ></app-button>
  </div>
</aside>
