<aside
  id="drawer"
  class="hidden fixed left-0 w-full max-w-[225px] sm:block h-screen overflow-y-scroll pb-60"
>
  <div class="px-3 @container/drawer">
    <ul class="flex flex-col gap-3">
      <li
        *ngFor="let element of [
          {
            svg: 'home.svg',
            link: '/',
            title: 'Home',
          },
          {
            svg: 'subscriptions.svg',
            link: '/subscriptions',
            title: 'Subscriptions',
          },
          {
            svg: 'tendencies.svg',
            link: '/tendencies',
            title: 'Tendencies',
          },
          {
            svg: 'playlists.svg',
            link: '/playlists',
            title: 'Playlists',
          },
          {
            svg: 'watch-later.svg',
            link: '/watch-later',
            title: 'Watch later',
          },
          {
            svg: 'liked.svg',
            link: '/liked',
            title: 'Liked videos',
          }
        ]"
      >
        <app-drawer-button [routerLink]="element.link" [title]="element.title">
          <img
            [src]="svgPath + element.svg"
            alt="{{ element.title }}"
            class="w-[26px]"
          />
        </app-drawer-button>
      </li>
    </ul>
  </div>
</aside>
