<footer class="flex flex-col items-center justify-center gap-4 mr-3">
  <p class="text-xs text-qt-gray-5 font-medium pt-[0.625em]">Thesis project.</p>
  <p class="text-xs font-medium text-center text-qt-gray-5">
    Thanks to all my family and my roommates.
  </p>
  <a
    href="https://github.com/antonioalanxs"
    class="flex items-center justify-center gap-2"
  >
    <img [src]="svgPath + 'github.svg'" alt="GitHub" class="w-7" />
    <span class="text-sm font-medium text-qt-blue">@antonioalanxs</span>
  </a>
</footer>
