<button
  class="@container/drawer-button w-full transition-colors rounded-xl hover:bg-qt-gray active:bg-qt-gray-2 @drawer-xs/drawer:flex @drawer-xs/drawer:items-center px-drawer-x py-drawer-y @drawer-xs/drawer:gap-[1.375rem]"
  routerLinkActive="bg-qt-gray"
>
  <picture class="flex items-center justify-center">
    <ng-content select="img"></ng-content>
  </picture>
  <h3
    class="pt-[3px] hidden truncate text-sm @drawer-xs/drawer-button:block text-white font-[450]"
  >
    {{ title }}
  </h3>
</button>
