<article class="flex flex-col items-center gap-9">
  <h2
    class="text-3xl font-extrabold text-white 2xs:text-4xl 3sm:text-5xl text-wrap"
  >
    Oops! An error has ocurred...
  </h2>
  <picture>
    <img src="assets/img/monkey.png" alt="Error image" />
  </picture>
  <h3
    class="text-center text-white 3sm:text-lg sm:text-xl text-wrap opacity-70"
  >
    Something went wrong, but don't worry, it's not your fault.
  </h3>
  <a
    [routerLink]="['/']"
    class="block px-24 py-3 -mt-3 font-semibold transition-transform bg-white rounded-xl active:scale-95"
    >Exit</a
  >
</article>
