<aside id="drawer" class="hidden w-drawer-xs lg:w-drawer sm:block">
  <div
    class="fixed left-0 h-screen overflow-y-scroll w-drawer-xs lg:w-drawer pb-60 px-3 @container/drawer"
  >
    <ul class="flex flex-col gap-3">
      <li
        *ngFor="let element of [
              {
                svg: 'home.svg',
                link: '/',
                title: 'Home',
              },
              {
                svg: 'subscriptions.svg',
                link: '/subscriptions',
                title: 'Subscriptions',
              },
              {
                svg: 'tendencies.svg',
                link: '/tendencies',
                title: 'Tendencies',
              },
              {
                svg: 'playlists.svg',
                link: '/playlists',
                title: 'Playlists',
              },
              {
                svg: 'watch-later.svg',
                link: '/watch-later',
                title: 'Watch later',
              },
              {
                svg: 'liked.svg',
                link: '/liked',
                title: 'Liked videos',
              },
            ]"
      >
        <app-bar-button
          [routerLink]="element.link"
          [title]="element.title"
          [type]="'drawer'"
        >
          <img
            [src]="svgPath + element.svg"
            alt="{{ element.title }}"
            class="w-[26px]"
          />
        </app-bar-button>
      </li>
    </ul>

    <app-drawer-separator></app-drawer-separator>

    <app-small-login-cta
      class="hidden @drawer-xs/drawer:flex flex-col gap-4 px-drawer-x py-drawer-y"
    ></app-small-login-cta>

    <app-drawer-separator></app-drawer-separator>

    <ul
      class="hidden @drawer-xs/drawer:flex @drawer-xs/drawer:flex-col @drawer-xs/drawer:gap-1"
    >
      <li>
        <app-drawer-header [title]="'Playlists'"></app-drawer-header>
      </li>
      <li
        *ngFor="let element of [
                {
                  svg: 'playlist.svg',
                  link: '/playlist/QTube',
                  title: 'QTube',
                },
                {
                  svg: 'playlist.svg',
                  link: '/playlist/Music',
                  title: 'Music',
                },
                {
                  svg: 'playlist.svg',
                  link: '/playlist/Alanís',
                  title: 'Alanís',
                },
              ]"
      >
        <app-bar-button
          [routerLink]="element.link"
          [title]="element.title"
          [type]="'drawer'"
        >
          <img
            [src]="svgPath + element.svg"
            alt="{{ element.title }}"
            class="w-[26px]"
          />
        </app-bar-button>
      </li>
    </ul>

    <app-drawer-separator></app-drawer-separator>

    <ul
      class="hidden @drawer-xs/drawer:flex @drawer-xs/drawer:flex-col @drawer-xs/drawer:gap-1"
    >
      <li>
        <app-drawer-header [title]="'Subscribed'"></app-drawer-header>
      </li>
      <li
        *ngFor="let element of [
                {
                  img: 'alva-majo.jpg',
                  link: '/@AlvaMajo',
                  title: 'Alva Majo',
                },
                {
                  img: 'antonio-sarosi.jpg',
                  link: '/@AntonioSarosi',
                  title: 'Antonio Sarosi',
                },
                {
                  img: 'clavero.jpg',
                  link: '/@Clavero',
                  title: 'Clavero',
                },
                {
                  img: 'el-rubius.jpg',
                  link: '/@elrubiusOMG',
                  title: 'elrubiusOMG',
                },
              ]"
      >
        <app-bar-button
          [routerLink]="element.link"
          [title]="element.title"
          [type]="'drawer'"
        >
          <img
            [src]="imagePath + element.img"
            alt="{{ element.title }}"
            class="w-[26px] rounded-full object-cover"
          />
        </app-bar-button>
      </li>
    </ul>

    <app-drawer-separator></app-drawer-separator>

    <div class="mt-3 @drawer-xs/drawer:mt-0">
      <app-bar-button
        [routerLink]="'/logout'"
        [title]="'Log out'"
        [type]="'drawer'"
      >
        <img [src]="svgPath + 'log-out.svg'" alt="Log out" class="w-[26px]" />
      </app-bar-button>
    </div>
  </div>
</aside>
