<form action="" class="flex">
  <input
    type="text"
    name="search"
    id="search"
    placeholder="Search on QTube"
    class="pl-6 pr-96 py-2 rounded-l-full bg-qt-black-2 border border-qt-gray-2 text-white placeholder-[#888888] focus:border-[#065FD4] focus:outline-none text-white"
  />
  <button
    type="submit"
    class="px-4 border-t border-b border-r rounded-r-full border-qt-gray-2 bg-qt-black-3"
  >
    <img src="assets/img/svg/lens.svg" alt="Lens" class="w-6" />
  </button>
</form>
