<form action="" class="flex">
  <input
    type="text"
    name="search"
    id="search"
    placeholder="Search"
    class="pl-6 pr-96 pt-2 pb-[7px] rounded-l-full bg-qt-black-2 border border-qt-gray-6 text-white placeholder-qt-gray-3 placeholder-opacity-[.85] focus:border-qt-blue focus:outline-none"
  />
  <button
    type="submit"
    class="pl-5 pr-4 border-t border-b border-r rounded-r-full border-qt-gray-6 bg-qt-black-3"
  >
    <img [src]="svgPath + 'search.svg'" alt="Search" class="w-6" />
  </button>
</form>
