<aside class="hidden sm:block w-[72px]">
  <div class="fixed left-0 h-screen px-2 overflow-y-scroll w-[72px] pb-60">
    <ng-container *ngFor="let option of options">
      <a
        [routerLink]="[option.link]"
        routerLinkActive="bg-qt-gray"
        class="block w-16 mb-2 rounded-xl"
      >
        <app-vertical-content
          [src]="option.src"
          [alt]="option.title + ' icon'"
          [width]="'w-[26px]'"
          [text]="option.title"
        ></app-vertical-content>
      </a>
    </ng-container>
  </div>
</aside>
