<app-bars-screen>
  <div class="@container/channel-header">
    <picture>
      <img
        src="assets/img/midulive-banner.jpg"
        alt="Banner image"
        class="object-cover w-full h-full max-h-32 @1.5xs/channel-header:max-h-44 sm:max-h-52 lg:max-h-64"
      />
    </picture>

    <header
      class="flex flex-col @1.5xs/channel-header:flex-row items-center gap-[7px] @1.5xs/channel-header:gap-6 py-5 px-4 border-b border-b-qt-gray-4 mb-5 @2lg/channel-header:px-20 @3lg/channel-header:px-36"
    >
      <app-profile-button
        img="midulive.jpg"
        [classes]="'w-28'"
      ></app-profile-button>

      <div
        class="flex flex-col @1.5xs/channel-header:flex-row items-center flex-grow @1.5xs/channel-header:justify-between"
      >
        <div>
          <h2
            class="w-full text-center @1.5xs/channel-header:text-left max-w-[200px] text-xl font-semibold text-white text-wrap line-clamp-1 mb-1"
          >
            midulive
          </h2>
          <p
            class="text-sm font-medium text-center @1.5xs/channel-header:text-left text-qt-gray-3 whitespace-nowrap mb-1 @1.5xs/channel-header:mb-0"
          >
            145 K subscribers · 379 videos
          </p>
        </div>
        <app-default-button
          [text]="'Subscribe'"
          [flavour]="'primary'"
          [classes]="'px-8 scale-[.77]'"
        ></app-default-button>
      </div>
    </header>

    <app-video-list
      [classes]="'px-4 @2lg/channel-header:px-20 @3lg/channel-header:px-36'"
    ></app-video-list>
  </div>
</app-bars-screen>
