<!-- <app-bars-screen>
  <app-video-list></app-video-list>
</app-bars-screen> -->

<!-- <app-default-screen>
  <app-error></app-error>
</app-default-screen> -->

<app-form-screen title="Watch videos now" subtitle="Go ahead." [footer]="true">
  <div class="form-content">
    <app-floating-label-input
      type="email"
      name="email"
      label="Email"
      [classes]="'w-full mb-4'"
    >
    </app-floating-label-input>
    <app-floating-label-input
      type="password"
      name="password"
      label="Password"
      [classes]="'w-full mb-4'"
    >
    </app-floating-label-input>
  </div>
  <div class="footer-content">
    <h4
      class="inline mr-[1.5px] text-xs 2xs:text-sm font-medium text-qt-gray-5"
    >
      Do not you have an account?
    </h4>
    <app-default-button
      [text]="'Sign up'"
      [flavour]="'link'"
      classes="text-xs 2xs:text-sm"
      routerLink=""
    >
    </app-default-button>
  </div>
</app-form-screen>
