<nav
  class="sticky top-0 z-10 flex items-center justify-between w-full px-5 py-4 bg-qt-black"
>
  <div class="flex items-center gap-3 justify-self-start">
    <div class="hidden sm:block">
      <app-button
        [type]="'rounded'"
        [additionalButtonClasses]="'w-10 hover:bg-qt-gray active:bg-qt-gray-2'"
        [svg]="'hamburguer.svg'"
        [alt]="'Hamburguer'"
        (click)="toggleDrawer()"
      ></app-button>
    </div>
    <h1>
      <app-button
        [type]="'brand'"
        [svg]="'brand.svg'"
        [alt]="'QTube'"
        [additionalImgClasses]="'w-[30px]'"
        [text]="'QTube'"
        [additionalTextClasses]="'text-white hidden 2xs:block'"
      ></app-button>
    </h1>
  </div>

  <div class="hidden lg:block"></div>

  <div class="flex items-center gap-3 justify-self-end">
    <div class="block sm:hidden"></div>
  </div>

  <div class="hidden justify-self-end"></div>
</nav>
