<nav
  class="sticky top-0 flex items-center justify-between w-screen pt-3 pb-6 pl-5 pr-3 sm:px-8 bg-qt-black"
>
  <div class="flex items-center justify-center gap-5 justify-self-start">
    <app-rounded-button
      [img]="'hamburguer.svg'"
      [title]="'Open drawer'"
      class="hidden sm:block"
      (click)="toggleDrawer()"
    ></app-rounded-button>
    <app-brand></app-brand>
  </div>
  <div class="hidden lg:block">
    <app-search-bar></app-search-bar>
  </div>
  <div class="flex items-center justify-center gap-[17px] justify-self-end">
    <div class="flex gap-[6.5px]">
      <app-rounded-button
        [img]="'search.svg'"
        [title]="'Search'"
        class="block lg:hidden"
      ></app-rounded-button>
      <app-rounded-button
        [img]="'create.svg'"
        [title]="'Create'"
      ></app-rounded-button>
    </div>
    <app-profile-button
      [routerLink]=""
      [img]="'default-profile-picture.jpg'"
    ></app-profile-button>
    <app-rounded-button
      [img]="'log-out.svg'"
      [title]="'Log out'"
      class="block sm:hidden"
    ></app-rounded-button>
  </div>
</nav>
