<nav
  class="sticky top-0 z-10 flex items-center justify-between w-full px-5 py-2 bg-qt-black"
>
  <div class="flex items-center gap-3 justify-self-start">
    <div class="hidden sm:block">
      <app-button
        [type]="'rounded'"
        [additionalButtonClasses]="'w-10 hover:bg-qt-gray active:bg-qt-gray-2'"
        [svg]="'hamburguer.svg'"
        [alt]="'Hamburguer'"
        (click)="toggleDrawer()"
      ></app-button>
    </div>
    <h1>
      <app-button
        [type]="'brand'"
        [svg]="'brand.svg'"
        [alt]="'QTube'"
        [additionalImgClasses]="'w-[30px]'"
        [text]="'QTube'"
        [additionalTextClasses]="'text-white hidden 2xs:block'"
      ></app-button>
    </h1>
  </div>

  <div class="hidden lg:block">
    <app-search-bar></app-search-bar>
  </div>

  <div class="flex items-center gap-3 justify-self-end">
    <app-button
      routerLink=""
      [type]="'rounded'"
      [additionalButtonClasses]="
        'block lg:hidden w-10 hover:bg-qt-gray active:bg-qt-gray-2'
      "
      [svg]="'search.svg'"
      [alt]="'Search'"
    ></app-button>
    <app-button
      routerLink=""
      [type]="'rounded'"
      [additionalButtonClasses]="'w-10 hover:bg-qt-gray active:bg-qt-gray-2'"
      [svg]="'create.svg'"
      [alt]="'Create'"
    ></app-button>
    <app-button
      routerLink=""
      [type]="'rounded'"
      [additionalButtonClasses]="'w-12'"
      [img]="'default-profile-picture.jpg'"
      [alt]="'Your profile picture'"
      [additionalImgClasses]="'rounded-full'"
    ></app-button>
    <div class="block sm:hidden">
      <app-button
        routerLink=""
        [type]="'rounded'"
        [additionalButtonClasses]="'hover:bg-qt-gray active:bg-qt-gray-2'"
        [svg]="'log-out.svg'"
        [alt]="'Log out'"
        [additionalImgClasses]="'w-6'"
      ></app-button>
    </div>
  </div>

  <div class="hidden justify-self-end">
    <app-button
      routerLink=""
      [type]="'login'"
      [svg]="'profile.svg'"
      [alt]="'Log in'"
      [additionalImgClasses]="'w-[26px]'"
      [text]="'Log in'"
    ></app-button>
  </div>
</nav>
