<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->

<div (click)="modal.showModal()">
  <ng-content></ng-content>
</div>

<dialog
  #modal
  class="w-full max-w-xl min-w-full min-h-screen min-h-[100dvh] p-8 pb-10 rounded-lg sm:min-w-fit sm:min-h-fit bg-qt-black-4"
>
  <header class="flex items-center justify-between">
    <app-brand></app-brand>
    <app-rounded-button
      [img]="'close.svg'"
      [title]="'Close'"
      class="pt-[2px] scale-110"
      (click)="modal.close()"
    ></app-rounded-button>
  </header>

  <article class="mt-[7.625rem] sm:mt-0">
    <header>
      <h2
        class="my-10 text-4xl font-bold text-center text-white text-wrap xs:text-5xl"
      >
        Watch videos now
      </h2>

      <h3
        class="text-[1.688rem] font-bold text-white text-wrap mb-7 text-center"
      >
        Go ahead.
      </h3>
    </header>

    <form
      class="flex flex-col justify-center gap-4 mb-3 2xs:px-10 xs:px-14 2sm:px-24"
    >
      <app-floating-label-input
        [type]="'text'"
        [name]="'username'"
        [isAligned]="true"
        [label]="'Username'"
      ></app-floating-label-input>

      <app-floating-label-input
        [type]="'password'"
        [name]="'password'"
        [isAligned]="true"
        [label]="'Password'"
      ></app-floating-label-input>
      <app-default-button
        [text]="'Forgot password?'"
        class="ml-3 -mt-2 self-baseline"
        [flavour]="'link'"
        routerLink=""
      >
      </app-default-button>

      <app-default-button
        [text]="'Next'"
        [flavour]="'primary'"
        [isAligned]="true"
      ></app-default-button>
    </form>

    <footer class="text-center">
      <h4 class="inline mr-[1.5px] text-sm font-medium text-qt-gray-5">
        Do not you have an account?
      </h4>
      <app-default-button [text]="'Sign up'" [flavour]="'link'" routerLink="">
      </app-default-button>
    </footer>
  </article>
</dialog>

<!--
  temporary

  * SIGN UP: Watch videos now / Join today. / Already have an account? / Log in
  * FORGOT PASSWORD: Forgot password? / Do not worry, it happens to everyone. / Go back
  * ACCOUNT CONFIRMATION: Account confirmation / We have sent an email with the code below. / Go back
  
  * No sé cómo componetizar las diferentes pantallas de modal. Por ahora, lo dejo así.
-->
