<article class="@container/videos-grid" [class]="classes">
  <ul
    class="grid gap-x-3 gap-y-6 @1.5xs/videos-grid:grid-cols-2 @2md/videos-grid:grid-cols-3 @2lg/videos-grid:grid-cols-4"
  >
    <li *ngFor="let index of [1, 2, 3, 4, 5]">
      <app-video-container
        [videoImage]="'default-thumbnail.webp'"
        [duration]="'4:13'"
        [channelImage]="'nifty.jpg'"
        [title]="'Furia enters Rostermania & goes back to SAM!'"
        [channel]="'Nifty'"
        [views]="'5.1 K'"
        [ago]="'1 day'"
      ></app-video-container>
    </li>
  </ul>
</article>
